*{
  box-sizing: border-box;
  margin: 0;
  font-family: Arial;
}

body{
  background-color: #696674;
}

header{
  background-color: #4a4852;
  color:white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.logo{
  cursor:pointer;
}
.profile{
  cursor:pointer;
}
.upload{
  cursor:pointer;
}

.tags{
  display: flex;
  list-style: none;
  padding: 10px;
  background-color: #3d3c44;
}

.tagitem{
  flex: 1;
  text-align: center;
}


.taglinkGlitch{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  background-color: #333238;
}
.taglinkCute{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  background-color: #333238;
}
.taglinkGotchic{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  background-color: #333238;
}

@keyframes color-Glitch{
  from{
      background-color: #333238;
      filter: hue-rotate(0deg);
  }
  to{
    background-color: rgb(0, 234, 255);
      filter: hue-rotate(5555deg);
  }
}
@keyframes color-Cute{
  from{
      background-color: #333238;
  }
  to{
    background-color: pink;
  }
}
@keyframes color-Gothic{
  from{
      background-color: #333238;
  }
  to{
    background-color: #2a0b38;
  }
}

.taglinkGlitch:hover{
  background-image: linear-gradient( -200deg, red, blue );
  animation: color-Glitch 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.taglinkCute:hover{
  background-color: pink;
  animation: color-Cute 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.taglinkGotchic:hover{
  animation: color-Gothic 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.images{
  padding: 25px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.imglink{
  border: 8px solid #1d1d20;
  border-radius: 5px;
  width: 256px;
  height: 256px;
}

.imgitem{
  padding: 5px;
}